/*----------------------------------------------------------------------------------------
	PAGE ELEMENTS
----------------------------------------------------------------------------------------*/



/*****************************/
/* Polices */
/*****************************/

@font-face {
font-family: 'Indie Flower Regular';
font-weight: normal;
src:
    local('Indie Flower Regular'),
    local('IndieFlower'),
    url('../fonts/IndieFlower.ttf') format('truetype');
}

@font-face {
font-family: 'Loved by the King Regular';
font-weight: normal;
src:
    local('Loved by the King Regular'),
    local('Loved by the King'),
    url('../fonts/LovedbytheKing.ttf') format('truetype');
}

@font-face {
font-family: 'Reenie Beanie Regular';
font-weight: normal;
src:
    local('Reenie Beanie Regular'),
    local('Reenie Beanie'),
    url('../fonts/ReenieBeanie.ttf') format('truetype');
}



/*****************************/
/* General */
/*****************************/

/* Reset CSS */
*{
	margin: 0px;
	padding: 0px;
}



/*****************************/
/* Styles */
/*****************************/

*{
	font-family: "Indie Flower Regular", sans-serif;
}



body{
	background-color: #AAAAAA;
	background-size: 100vw 100vh;
	background-image: url("../includes/icon/logo_ps1.png");
	background-origin: border-box;
	background-clip: padding-box;
    background-repeat: repeat;
    background-size: 20vh 20vh;
    background-position: center;
}



section
{
	margin-top: 30px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 3px;
	text-align:center;
}



article {
	margin: 0px 10px 10px 10px;
	padding: 30px 150px 30px 150px;
	background-image: url("../images/opacity1.png");
}

.affichage
{
	display:block;
	position: absolute;
	height:40vh;
	width:40vw;
	top:30vh;
	left:30vw;
	/* Arriere plan */
	background-color: rgba(0, 0, 0, 0.5);
	background-origin: border-box;
	background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 40vh 40vh;
    background-position: center;
	border-style: dotted;
    border-width: 2px;
	/* Texte */
	text-align:center;
	color:white;
}

.ecran
{
	background-color: rgba(0, 0, 0, 0.5);
}

.bouton
{
	display:inline-block;
	position: absolute;
	/* background-color:grey; */
	width:15vh;
	height:15vh;
	background-origin: border-box;
	background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 15vh auto;
}
/* affichage 2 pour les 2 écrans qui basculent */

#aff_2
{
	visibility:hidden;
}


/* Affichage touches déplacement */
#up
{
	left:20vh;
	bottom:35vh;
	opacity:0.7;
}
#down
{
	left:20vh;
	bottom:5vh;
	opacity:0.7;
}
#left
{
	left:5vh;
	bottom:20vh;
	opacity:0.7;
}
#right
{
	left:35vh;
	bottom:20vh;
	opacity:0.7;
}
/* Affichage touches Action */
#bouton_A
{
	right:20vh;
	bottom:35vh;
	opacity:0.7;
}
#bouton_B
{
	right:5vh;
	bottom:20vh;
	opacity:0.7;
}
#bouton_C
{
	right:20vh;
	bottom:5vh;
	opacity:0.7;
}
#bouton_D
{
	right:35vh;
	bottom:20vh;
	opacity:0.7;
}
#opt
{
	right:0;
	top:0;
	opacity:0.7;
}


/* Titres */
h1
{
	margin: 10px 0 10px 0;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}

h2
{
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
}


h4
{
	margin: 10px 0 10px 0;
	padding: 20px;
	border-style: solid;
	border-color: #0000DD;
	border-width: 3px;
	color: blue;
	font-size: 20px;
}





/* Autres balises */

input,button {
	display: block;
	margin: 20px 0 20px auto;
	padding: 10px;
	border-style: solid;
	border-color: blue;
	border-width: 3px;
	border-radius: 15px;
	background-color: transparent;
	color: blue;
	font-size: 20px;
	}
input[type='text'],input[type='password'] {
	width: 400px;
	color: #FFFFFF;
	font-family: "Loved by the King Regular", sans-serif;
	font-size: 30px;
	}

p {
	margin: 2px;
	font-size: 20px;
	}



@media (max-width: 100vh) 
{
	.ecran 
	{
		visibility: visible;
	}
	.manette 
	{
		visibility: hidden;
	}
}
 @media (min-width: 100vh)  
{
	.ecran 
	{
		visibility: hidden;
	}
	.manette 
	{
		visibility: visible;
	}
}



/* //palette */
.color-1 {color: #90aa41;}
.color-2 {color: #5caa41;}
.color-3 {color: #41aa5b;}
.color-4 {color: #41aa8f;}
.color-5 {color: #4190aa;}
.color-6 {color: #415baa;}

.color-1 {color: #90aa41;}
.color-2 {color: #41aa8f;}
.color-3 {color: #5b41aa;}
.color-4 {color: #aa415c;}
